.item-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: solid 2px lightgray;
    height: 200px;
}

.item-box {
    margin: 10px;
}

.image-box {
    min-width: 40%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-box {
    font-size: 11px;
}

.booking-box {
    font-size: 11px;
}
