.separator {
    border: solid 2px darkcyan;
}

.item-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: solid 2px lightgray;
    height: 200px;
}

.item-box {
    margin: 10px;
}

.image-box {
    min-width: 40%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
}

.info-box {
    font-size: 11px;
}

.icon-box {
    width: 20%;
    vertical-align: middle;
    display: table-cell;
}

.text-box {
    display: table-cell;
}

.description-box {
    height: 50px;
    overflow: hidden;
}

.booking-box {
    font-size: 11px;
}
